<nav class="toolbar">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a [routerLink]="['profile']">Profile</a>

  @if (!loginDisplay) {
  <div class="dropdown">


      <button (click)="loginRedirect()">Login using Redirect</button>
      <button (click)="loginPopup()">Login using Popup</button>

  </div>
  }

  @if (loginDisplay) {
  <div class="dropdown">
    <button class="dropdown-toggle">Logout</button>
    <div class="dropdown-menu">
      <button (click)="logout()">Logout using Redirect</button>
      <button (click)="logout(true)">Logout using Popup</button>
    </div>
  </div>
  }

</nav>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  @if (!isIframe) {
  <router-outlet></router-outlet>
  }
</div>